<!DOCTYPE html><html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Home - Brand</title>
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="../static/styles/style.css">
  <link rel="stylesheet" href="bootstrap.min.css" />
  <script type="text/javascript" src="../static/scripts/interface.js"> </script>

</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Belgrano" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <header id = "loginsignin-header" class="masthead">
    <div class="overlay"></div>
    <nav class="navbar navbar-light navbar-expand-lg" id="mainNav">
      <div class="container"><a class="navbar-brand" href="welcome.html">Home</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" onclick="menubuttonclick()"><i class="fa fa-bars"></i></button>
        <div
        class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav ml-auto">
          <li role="presentation" class="nav-item"><a class="nav-link" href="login.html">Log in</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="signup.html">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">

      </div>
    </div>
  </div>
</header>
<div class="book-search-section">
  <div class="search-bar-div" data-validate="Username is required">
    <input class="search-bar" type="text" name="search-bar" placeholder="Search book">
  </div>
  <div class="search-button-div">
    <a class="btn btn-primary btn-xl rounded-pill " role="button" id="search-button" href="signup.html"><img src="../static/images/search-icon.png" id="search-icon"> Seach  </a>
  </div>
</div>
<div class = "book-list-section">
  <div class = "books-container">
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="book-item">
        <div class="book-image-section">
          <img src="../static/images/book.png">
        </div>
        <div class="index-average-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="book-details-section">
          <div class="book-title-section">
            <p>book title</p>
          </div>
          <div class="book-autor-section">
            <p>autor name</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
